# データサイエンス100本ノック（構造化データ加工編） - Python

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- pandas等、利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあれば適宜インストールしてください（"!pip install ライブラリ名"でインストールも可能）
- 処理は複数回に分けても構いません
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
%load_ext sql
import os
import pandas as pd
import numpy as np
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import math
import psycopg2
from sqlalchemy import create_engine
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)

# pd.read_sql用のコネクタ
conn = psycopg2.connect(**pgconfig)
# pd.to_sql用のcreate engine
engine = create_engine(dsl)
# MagicコマンドでSQLを書くための設定
%sql $dsl

df_customer = pd.read_sql(sql='select * from customer', con=conn)
df_category = pd.read_sql(sql='select * from category', con=conn)
df_product = pd.read_sql(sql='select * from product', con=conn)
df_receipt = pd.read_sql(sql='select * from receipt', con=conn)
df_store = pd.read_sql(sql='select * from store', con=conn)
df_geocode = pd.read_sql(sql='select * from geocode', con=conn)

以下、sql不可の対策としてcsv読み込み

In [ ]:
"""
df_customer = pd.read_csv('./data/customer.csv', sep=',')
df_category = pd.read_csv('./data/category.csv', sep=',')
df_product = pd.read_csv('./data/product.csv', sep=',')
df_receipt = pd.read_csv('./data/receipt.csv', sep=',')
df_store = pd.read_csv('./data/store.csv', sep=',')
df_geocode = pd.read_csv('./data/geocode.csv', sep=',', low_memory=False)
"""

# 演習問題

---
> P-001: レシート明細のデータフレーム（df_receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認せよ。

In [ ]:
df_receipt.head(10)

---
> P-002: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示させよ。

In [ ]:
df_receipt[['sales_ymd','customer_id','product_cd','amount']].head(10)

---
> P-003: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示させよ。ただし、sales_ymdはsales_dateに項目名を変更しながら抽出すること。

In [ ]:
df_receipt[['sales_ymd','customer_id','product_cd','amount']].rename(columns={'sales_ymd':'sales_date'}).head(10)

---
> P-004: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"

In [ ]:
df_receipt[df_receipt['customer_id']=='CS018205000001'][['sales_ymd','customer_id','product_cd','amount']]

In [ ]:
df_receipt[['sales_ymd','customer_id','product_cd','amount']].query('customer_id == "CS018205000001"')

---
> P-005: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上

In [ ]:
df_receipt[(df_receipt['customer_id']=='CS018205000001')&(df_receipt['amount']>=1000)][['sales_ymd','customer_id','product_cd','amount']]

In [ ]:
df_receipt[['sales_ymd','customer_id','product_cd','amount']].query('customer_id=="CS018205000001" & amount>=1000')

---
> P-006: レシート明細データフレーム「df_receipt」から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [ ]:
msk = (df_receipt['customer_id']=='CS018205000001')&((df_receipt['amount']>=1000)|(df_receipt['quantity']>=5))
df_receipt[msk][['sales_ymd','customer_id','product_cd','quantity','amount']]

In [ ]:
df_receipt[['sales_ymd','customer_id','product_cd','quantity','amount']].query('customer_id=="CS018205000001" & (amount>=1000 or quantity>=5)')

---
> P-007: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上2,000以下

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'quantity', 'amount']].query('customer_id == "CS018205000001" & (amount >= 1000 | quantity >=5)')

---
> P-008: レシート明細のデータフレーム（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [ ]:
df_receipt[['sales_ymd', 'customer_id', 'product_cd', 'amount']].query('customer_id == "CS018205000001" & product_cd != "P071401019"')

---
> P-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。

`df_store.query('not(prefecture_cd == "13" | floor_area > 900)')`

In [ ]:
df_store.query('not(prefecture_cd == "13" | floor_area > 900)')

In [ ]:
df_store.query('prefecture_cd != "13" & floor_area <= 900')

---
> P-010: 店舗データフレーム（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件だけ表示せよ。

In [ ]:
# df_store[df_store['store_cd'].str.startswith("S14")].head(10)

df_store[df_store.store_cd.str.startswith("S14")].head(10)

---
> P-011: 顧客データフレーム（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件だけ表示せよ。

In [ ]:
df_customer[df_customer.customer_id.str.endswith("1")].head(10)

---
> P-012: 店舗データフレーム（df_store）から横浜市の店舗だけ全項目表示せよ。

In [ ]:
df_store[df_store.address.str.contains("横浜市")]

---
> P-013: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件だけ表示せよ。

In [ ]:
df_customer[df_customer.status_cd.str.contains('^[A-F]')].head(10)

---
> P-014: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件だけ表示せよ。

In [ ]:
df_customer.query("status_cd.str.contains('[1-9]$', regex=True)", engine='python').head(10)

---
> P-015: 顧客データフレーム（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件だけ表示せよ。

In [ ]:
df_customer.query("status_cd.str.contains('^[A-F].*[1-9]$', regex=True)", engine='python').head(10)

---
> P-016: 店舗データフレーム（df_store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。

In [ ]:
df_store.query("tel_no.str.contains('^[0-9]{3}-[0-9]{3}-[0-9]{4}$', regex=True)", engine='python')

---
> P-17: 顧客データフレーム（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭10件を全項目表示せよ。

In [ ]:
df_customer.sort_values('birth_day', ascending=True).head(10)

---
> P-18: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭10件を全項目表示せよ。

In [ ]:
df_customer.sort_values('birth_day', ascending=False).head(10)

---
> P-19: レシート明細データフレーム（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭10件を抽出せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [ ]:
df_tmp = pd.concat([
     df_receipt[['customer_id','amount']], 
     df_receipt['amount'].rank(method='min', ascending=False)], axis=1)
df_tmp.columns=['customer_id','amount','RANK']
df_tmp.sort_values('RANK', ascending=True).head(10)

---
> P-020: レシート明細データフレーム（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭10件を抽出せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

In [ ]:
df_tmp = pd.concat([
     df_receipt[['customer_id','amount']], 
     df_receipt['amount'].rank(method='first', ascending=False)], axis=1)
df_tmp.columns=['customer_id','amount','RANK']
df_tmp.sort_values('RANK', ascending=True).head(10)

---
> P-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [ ]:
len(df_receipt)

---
> P-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [ ]:
# len(df_receipt.customer_id.unique())
len(df_receipt['customer_id'].unique())

---
> P-023: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

In [ ]:
df_receipt.groupby('store_cd').agg({'amount':'sum', 'quantity':'sum'}).reset_index()

---
> P-024: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上日（sales_ymd）を求め、10件表示せよ。

In [ ]:
# df_receipt.groupby('customer_id').agg({'sales_ymd':'max'}).reset_index().head(10)

df_receipt.groupby('customer_id').sales_ymd.max().reset_index().head(10)

---
> P-025: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに最も古い売上日（sales_ymd）を求め、10件表示せよ。

In [ ]:
df_receipt.groupby('customer_id').sales_ymd.min().reset_index().head(10)

---
> P-026: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上日（sales_ymd）と古い売上日を求め、両者が異なるデータを10件表示せよ。

In [ ]:
df_tmp = df_receipt.groupby('customer_id').agg({'sales_ymd':['max','min']}).reset_index()

# df_tmp.columns
df_tmp.columns = ["_".join(pair) for pair in df_tmp.columns]

df_tmp.query('sales_ymd_max != sales_ymd_min').head(10)

---
> P-027: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順でTOP5を表示せよ。

In [ ]:
df_tmp = df_receipt.groupby('store_cd').amount.mean().reset_index()
df_tmp.sort_values('amount', ascending=False).head()

---
> P-028: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順でTOP5を表示せよ。

In [ ]:
df_receipt.groupby('store_cd').amount.median().reset_index().sort_values('amount', ascending=False).head()

---
> P-029: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに商品コード（product_cd）の最頻値を求めよ。

In [ ]:
df_receipt.groupby('store_cd').product_cd.apply(lambda x: x.mode()).reset_index()

---
> P-030: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標本分散を計算し、降順でTOP5を表示せよ。

In [ ]:
df_receipt.groupby('store_cd').amount.var(ddof=0).reset_index().sort_values('amount', ascending=False).head()

---
> P-031: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標本標準偏差を計算し、降順でTOP5を表示せよ。

In [ ]:
df_receipt.groupby('store_cd').amount.std(ddof=0).reset_index().sort_values('amount', ascending=False).head()

---
> P-032: レシート明細データフレーム（df_receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

In [ ]:
np.percentile(df_receipt.amount, q=[25,50,75,100])

In [ ]:
# コード例2
df_receipt.amount.quantile(q=np.arange(5)/4)

---
> P-033: レシート明細データフレーム（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

In [ ]:
df_receipt.groupby('store_cd').amount.mean().reset_index().query('amount>=330')

---
> P-034: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
msk = df_receipt.customer_id.str.startswith('Z')
df_receipt[~msk].groupby('customer_id').amount.sum().mean()

---
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは10件だけ表示させれば良い。

In [ ]:
msk = df_receipt.customer_id.str.startswith('Z')
mean_all = df_receipt[~msk].groupby('customer_id').amount.sum().mean()
df_tmp = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_tmp[df_tmp['amount'] >= mean_all].head(10)

---
> P-036: レシート明細データフレーム（df_receipt）と店舗データフレーム（df_store）を内部結合し、レシート明細データフレームの全項目と店舗データフレームの店舗名（store_name）を10件表示させよ。

In [ ]:
pd.merge(df_receipt, df_store[['store_cd','store_name']], on='store_cd', how='inner').head(10)

---
> P-037: 商品データフレーム（df_product）とカテゴリデータフレーム（df_category）を内部結合し、商品データフレームの全項目とカテゴリデータフレームの小区分名（category_small_name）を10件表示させよ。

In [ ]:
df_category.info()

In [ ]:
pd.merge(df_product, 
         df_category[['category_small_cd', 'category_small_name']], 
         on='category_small_cd', how='inner').head(10)

---
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は10件だけ表示させれば良い。

In [ ]:
df_amount = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_tmp = df_customer.query('gender_cd=="1" and not customer_id.str.startswith("Z")', engine='python')
pd.merge(df_tmp['customer_id'], df_amount, how='left', on='customer_id').fillna(0).head()

---
> P-039: レシート明細データフレーム（df_receipt）から売上日数の多い顧客の上位20件と、売上金額合計の多い顧客の上位20件を抽出し、完全外部結合せよ。ただし、非会員（顧客IDが'Z'から始まるもの）は除外すること。

In [ ]:
df_cnt = df_receipt[~df_receipt.duplicated(subset=['customer_id','sales_ymd'])]
df_cnt = df_cnt.query('not customer_id.str.startswith("Z")', engine='python')
df_cnt = df_cnt.groupby('customer_id').sales_ymd.count().reset_index()
df_cnt = df_cnt.sort_values('sales_ymd', ascending=False).head(20)

df_sum = df_receipt.groupby('customer_id').amount.sum().reset_index()
df_sum = df_sum.query('not customer_id.str.startswith("Z")', engine='python')
df_sum = df_sum.sort_values('amount', ascending=False).head(20)

pd.merge(df_sum, df_cnt, on='customer_id', how='outer')

---
> P-040: 全ての店舗と全ての商品を組み合わせると何件のデータとなるか調査したい。店舗（df_store）と商品（df_product）を直積した件数を計算せよ。

In [ ]:
len(df_store['store_cd'].unique()) * len(df_product['product_cd'].unique())

In [ ]:
df_store_tmp = df_store.copy()
df_product_tmp = df_product.copy()

df_store_tmp['key'] = 0
df_product_tmp['key'] = 0
len(pd.merge(df_store_tmp, df_product_tmp, how='outer', on='key'))

---
> P-041: レシート明細データフレーム（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前日からの売上金額増減を計算せよ。なお、計算結果は10件表示すればよい。

In [ ]:
df_tmp = df_receipt.groupby('sales_ymd').amount.sum().reset_index().sort_values('sales_ymd', ascending=True)
df_tmp['diff_amount'] = df_tmp['amount'].diff(1)
df_tmp.head()

---
> P-042: レシート明細データフレーム（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、１日前、２日前、３日前のデータを結合せよ。結果は10件表示すればよい。

In [ ]:
df_tmp = df_receipt.groupby('sales_ymd').amount.sum().reset_index().sort_values('sales_ymd', ascending=True)
for i in range(1,4):
    if i == 1:
        df_log = pd.concat([df_tmp, df_tmp.shift(i)], axis=1)
    else:
        df_log = pd.concat([df_log, df_tmp.shift(i)], axis=1)
df_log.columns = ['sales_ymd', 'amount', 'sales_ymd-1', 'amount-1', 'sales_ymd-2', 'amount-2','sales_ymd-3', 'amount-3']
df_log.head(13)

---
> P-043： レシート明細データフレーム（df_receipt）と顧客データフレーム（df_customer）を結合し、性別（gender）と年代（ageから計算）ごとに売上金額（amount）を合計した売上サマリデータフレーム（df_sales_summary）を作成せよ。性別は0が男性、1が女性、9が不明を表すものとする。
>
> ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の4項目とすること（縦に年代、横に性別のクロス集計）。また、年代は10歳ごとの階級とすること。

In [ ]:
df_tmp = pd.merge(df_receipt, df_customer, how='inner', on='customer_id')
df_tmp['era'] = df_tmp['age'].apply(lambda x: math.floor(x/10)*10)

df_sales_summary = pd.pivot_table(data=df_tmp, index='era', columns='gender_cd', values='amount', aggfunc='sum').reset_index()
df_sales_summary.columns = ['era', 'male', 'female', 'unknown']
df_sales_summary

---
> P-044： 前設問で作成した売上サマリデータフレーム（df_sales_summary）は性別の売上を横持ちさせたものであった。このデータフレームから性別を縦持ちさせ、年代、性別コード、売上金額の3項目に変換せよ。ただし、性別コードは男性を'00'、女性を'01'、不明を'99'とする。

In [ ]:
df_sales_summary2 = df_sales_summary.set_index('era').stack().reset_index(). \
                        replace({'male':'00','female':'01','unknown':'99'}). \
                        rename(columns={'level_1':'gender',0:'amount'})
df_sales_summary2

---
> P-045: 顧客データフレーム（df_customer）の生年月日（birth_day）は日付型（Date）でデータを保有している。これをYYYYMMDD形式の文字列に変換し、顧客ID（customer_id）とともに抽出せよ。データは10件を抽出すれば良い。

In [ ]:
df_customer.info()

In [ ]:
pd.concat([df_customer['customer_id'], \
           pd.to_datetime(df_customer['birth_day']).dt.strftime('%Y%m%d')], axis=1).head()

---
> P-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMDD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。データは10件を抽出すれば良い。

In [ ]:
pd.concat([df_customer['customer_id'], pd.to_datetime(df_customer['application_date'], format='%Y%m%d')], axis=1).head()

---
> P-047: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）はYYYYMMDD形式の数値型でデータを保有している。これを日付型（dateやdatetime）に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

In [ ]:
pd.concat([
    pd.to_datetime(df_receipt['sales_ymd'], format='%Y%m%d'),
    df_receipt[['receipt_no','receipt_sub_no']]
], axis=1).head()

---
> P-048: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）は数値型のUNIX秒でデータを保有している。これを日付型（dateやdatetime）に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

In [ ]:
pd.concat([
    pd.to_datetime(df_receipt['sales_epoch'],unit='s'),
    df_receipt[['receipt_no','receipt_sub_no']]
], axis=1).head()

---
> P-049: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"年"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。データは10件を抽出すれば良い。

In [ ]:
pd.concat([
    pd.to_datetime(df_receipt['sales_epoch'],unit='s').dt.year,
    df_receipt[['receipt_no','receipt_sub_no']]
], axis=1).head()

---
> P-050: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"月"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。なお、"月"は0埋め2桁で取り出すこと。データは10件を抽出すれば良い。

In [ ]:
pd.concat([
    pd.to_datetime(df_receipt['sales_epoch'],unit='s').dt.month,
    df_receipt[['receipt_no','receipt_sub_no']]
], axis=1).head()

In [ ]:
pd.concat([
    pd.to_datetime(df_receipt['sales_epoch'],unit='s').dt.strftime('%m'),
    df_receipt[['receipt_no','receipt_sub_no']]
], axis=1).head()

---
> P-051: レシート明細データフレーム（df_receipt）の売上エポック秒（sales_epoch）を日付型（timestamp型）に変換し、"日"だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに抽出せよ。なお、"日"は0埋め2桁で取り出すこと。データは10件を抽出すれば良い。

In [ ]:
pd.concat([
    pd.to_datetime(df_receipt['sales_epoch'],unit='s').dt.strftime('%d'),
    df_receipt[['receipt_no','receipt_sub_no']]
], axis=1).head()

---
> P-052: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計の上、売上金額合計に対して2000円以下を0、2000円超を1に2値化し、顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
df_sub = df_receipt.query('not customer_id.str.startswith("Z")', engine='python')
df_sum = df_sub.groupby('customer_id').amount.sum().reset_index()

df_sum['lvl'] = np.where(df_sum['amount']>2000,1,0)
df_sum['flg'] = df_sum['amount'].apply(lambda x: 1 if x > 2000 else 0)

df_sum.head()

---
> P-053: 顧客データフレーム（df_customer）の郵便番号（postal_cd）に対し、東京（先頭3桁が100〜209のもの）を1、それ以外のものを0に２値化せよ。さらにレシート明細データフレーム（df_receipt）と結合し、全期間において買い物実績のある顧客数を、作成した2値ごとにカウントせよ。

In [ ]:
df_tmp = df_customer[['customer_id','postal_cd']].copy()
df_tmp['flg'] = df_tmp['postal_cd'].apply(lambda x: 1 if 100 <= int(x[:3]) <= 209 else 0)

pd.merge(df_tmp, df_receipt, how='inner', on='customer_id').groupby('flg').agg({'customer_id':'nunique'})

---
> P-054: 顧客データデータフレーム（df_customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客ID、住所とともに抽出せよ。値は埼玉県を11、千葉県を12、東京都を13、神奈川県を14とすること。結果は10件表示させれば良い。

In [ ]:
pd.concat([
    df_customer[['customer_id','address']],
    df_customer['address'].apply(lambda x: x[:3]).map({'埼玉県':'11','千葉県':'12','東京都':'13','神奈川':'14'})
], axis=1).head()

In [ ]:
pd.concat([df_customer[['customer_id','address']],
           df_customer['address'].str[0:3].map({'埼玉県':'11',
                                                '千葉県':'12',
                                                '東京都':'13',
                                                '神奈川':'14'})], axis=1).head()

---
> P-055: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客ID、売上金額と合計ともに表示せよ。カテゴリ値は上から順に1〜4とする。結果は10件表示させれば良い。
>
> - 最小値以上第一四分位未満
> - 第一四分位以上第二四分位未満
> - 第二四分位以上第三四分位未満
> - 第三四分位以上

In [ ]:
df_sum = df_receipt.groupby('customer_id').amount.sum().reset_index()

pct25 = np.quantile(df_sum.amount, 0.25, axis=0)
pct50 = np.quantile(df_sum.amount, 0.50, axis=0)
pct75 = np.quantile(df_sum.amount, 0.75, axis=0)

def leveling(x):
    if x < pct25:
        return 1
    elif x < pct50:
        return 2
    elif x < pct75:
        return 3
    else:
        return 4

df_sum['level'] = df_sum['amount'].apply(lambda x: leveling(x))
df_sum.head()

---
> P-056: 顧客データフレーム（df_customer）の年齢（age）をもとに10歳刻みで年代を算出し、顧客ID（customer_id）、生年月日（birth_day）とともに抽出せよ。ただし、60歳以上は全て60歳代とすること。年代を表すカテゴリ名は任意とする。先頭10件を表示させればよい。

In [ ]:
df_customer_era = pd.concat([
    df_customer[['customer_id','birth_day']],
    df_customer['age'].apply(lambda x: min(math.floor(x/10)*10, 60))
], axis=1)
df_customer_era.head()

In [ ]:
# コード例2
df_customer['age_group'] = pd.cut(df_customer['age'], bins=[0, 10, 20, 30, 40, 50, 60, np.inf], right=False)
df_customer[['customer_id', 'birth_day', 'age_group']].head()

---
> P-057: 前問題の抽出結果と性別（gender）を組み合わせ、新たに性別×年代の組み合わせを表すカテゴリデータを作成せよ。組み合わせを表すカテゴリの値は任意とする。先頭10件を表示させればよい。

In [ ]:
df_customer_era['gender_era'] = df_customer['gender_cd'] + df_customer_era['age'].astype('str')
df_customer_era.head()

---
> P-058: 顧客データフレーム（df_customer）の性別コード（gender_cd）をダミー変数化し、顧客ID（customer_id）とともに抽出せよ。結果は10件表示させれば良い。

In [ ]:
pd.concat([
    df_customer['customer_id'], 
    pd.get_dummies(df_customer['gender_cd'])
], axis=1).head()

In [ ]:
pd.get_dummies(df_customer[['customer_id', 'gender_cd']], columns=['gender_cd']).head()

---
> P-059: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を平均0、標準偏差1に標準化して顧客ID、売上金額合計とともに表示せよ。標準化に使用する標準偏差は、不偏標準偏差と標本標準偏差のどちらでも良いものとする。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [ ]:
df_sales_amount = df_receipt[['customer_id','amount']].query('not customer_id.str.startswith("Z")', engine='python'). \
                    groupby('customer_id').amount.sum().reset_index()
df_sales_amount['amount_sd'] = preprocessing.scale(df_sales_amount['amount'])
df_sales_amount.head()

In [ ]:
# コード例2（fitを行うことで、別のデータでも同じの平均・標準偏差で標準化を行える）
df_sales_amount = df_receipt.query('not customer_id.str.startswith("Z")', engine='python'). \
    groupby('customer_id').agg({'amount':'sum'}).reset_index()
scaler = preprocessing.StandardScaler()
scaler.fit(df_sales_amount[['amount']])
df_sales_amount['amount_ss'] = scaler.transform(df_sales_amount[['amount']])
df_sales_amount.head()

---
> P-060: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を最小値0、最大値1に正規化して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [ ]:
df_sales_amount = df_receipt[['customer_id','amount']].query('not customer_id.str.startswith("Z")', engine='python'). \
                    groupby('customer_id').amount.sum().reset_index()
df_sales_amount['amount_sd'] = preprocessing.minmax_scale(df_sales_amount['amount'])
df_sales_amount.head()

---
> P-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [ ]:
df_sales_amount = df_receipt[['customer_id','amount']].query('not customer_id.str.startswith("Z")', engine='python'). \
                    groupby('customer_id').amount.sum().reset_index()
df_sales_amount['amount_log10'] = np.log10(df_sales_amount['amount'] + 1)
df_sales_amount.head()

---
> P-062: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を自然対数化(底=e）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。結果は10件表示させれば良い。

In [ ]:
df_sales_amount = df_receipt[['customer_id','amount']].query('not customer_id.str.startswith("Z")', engine='python'). \
                    groupby('customer_id').amount.sum().reset_index()
df_sales_amount['amount_log'] = np.log(df_sales_amount['amount'] + 1)
df_sales_amount.head()

---
> P-063: 商品データフレーム（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益額を算出せよ。結果は10件表示させれば良い。

In [ ]:
df_tmp = df_product.copy()
df_tmp['unit_profit'] = df_tmp['unit_price'] - df_tmp['unit_cost']
df_tmp.head()

---
> P-064: 商品データフレーム（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益率の全体平均を算出せよ。
ただし、単価と原価にはNULLが存在することに注意せよ。

In [ ]:
df_tmp = df_product.copy()
df_tmp['unit_pf_rate'] = (df_tmp['unit_price'] - df_tmp['unit_cost']) / df_tmp['unit_price']
df_tmp['unit_pf_rate'].mean(skipna=True)

---
> P-065: 商品データフレーム（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。ただし、1円未満は切り捨てること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

In [ ]:
df_tmp = df_product[['product_cd','unit_price','unit_cost']].copy()
df_tmp['new_price'] = df_tmp['unit_cost'].apply(lambda x: np.floor(x/0.7))
df_tmp['new_rate'] = (df_tmp['new_price'] - df_tmp['unit_cost']) / df_tmp['new_price']
df_tmp.head(10)

---
> P-066: 商品データフレーム（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を四捨五入すること（0.5については偶数方向の丸めで良い）。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

In [ ]:
df_tmp = df_product[['product_cd','unit_price','unit_cost']].copy()
df_tmp['new_price'] = df_tmp['unit_cost'].apply(lambda x: np.round(x/0.7, decimals=0))
df_tmp['new_rate'] = (df_tmp['new_price'] - df_tmp['unit_cost']) / df_tmp['new_price']
df_tmp.head(10)

---
> P-067: 商品データフレーム（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を切り上げること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）にはNULLが存在することに注意せよ。

In [ ]:
df_tmp = df_product[['product_cd','unit_price','unit_cost']].copy()
df_tmp['new_price'] = df_tmp['unit_cost'].apply(lambda x: np.ceil(x/0.7))
df_tmp['new_rate'] = (df_tmp['new_price'] - df_tmp['unit_cost']) / df_tmp['new_price']
df_tmp.head(10)

---
> P-068: 商品データフレーム（df_product）の各商品について、消費税率10%の税込み金額を求めよ。 1円未満の端数は切り捨てとし、結果は10件表示すれば良い。ただし、単価（unit_price）にはNULLが存在することに注意せよ。

In [ ]:
df_tmp = df_product[['product_cd','unit_price','unit_cost']].copy()
df_tmp['price_w_tax'] = df_tmp['unit_price'].apply(lambda x: np.floor(x*1.1))

df_tmp.head(10)

---
> P-069: レシート明細データフレーム（df_receipt）と商品データフレーム（df_product）を結合し、顧客毎に全商品の売上金額合計と、カテゴリ大区分（category_major_cd）が"07"（瓶詰缶詰）の売上金額合計を計算の上、両者の比率を求めよ。抽出対象はカテゴリ大区分"07"（瓶詰缶詰）の購入実績がある顧客のみとし、結果は10件表示させればよい。

In [ ]:
df_tmp1 = pd.merge(df_receipt, df_product, \
                   how='inner', on='product_cd').groupby('customer_id').agg({'amount':'sum'}).reset_index()
df_tmp2 = pd.merge(df_receipt, df_product[df_product['category_major_cd']=="07"], \
                   how='inner', on='product_cd').groupby('customer_id').agg({'amount':'sum'}).reset_index()

df_tmp3 = pd.merge(df_tmp2, df_tmp1, how='inner', on='customer_id').head(10)
df_tmp3.columns = ['customer_id','amount_07','amount_all']
df_tmp3[['rate_07']] = df_tmp3['amount_07']/df_tmp3['amount_all']
df_tmp3.head(10)

---
> P-070: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からの経過日数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。

In [ ]:
df_tmp = pd.merge(df_receipt[['customer_id','sales_ymd']], \
                  df_customer[['customer_id','application_date']], \
                  how='inner', on='customer_id')
df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'), format="%Y%m%d")
df_tmp['application_date'] = pd.to_datetime(df_tmp['application_date'], format="%Y%m%d")
df_tmp['pass_days'] = df_tmp['sales_ymd'] - df_tmp['application_date']
df_tmp.head()

---
> P-071: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からの経過月数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1ヶ月未満は切り捨てること。

In [ ]:
df_tmp = pd.merge(df_receipt[['customer_id','sales_ymd']], \
                  df_customer[['customer_id','application_date']], \
                  how='inner', on='customer_id')
df_tmp = df_tmp.drop_duplicates()

df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'), format="%Y%m%d")
df_tmp['application_date'] = pd.to_datetime(df_tmp['application_date'], format="%Y%m%d")
df_tmp['pass_months'] = df_tmp[['sales_ymd','application_date']].apply(lambda x: 
                                                relativedelta(x[0], x[1]).years * 12 + relativedelta(x[0], x[1]).months, axis=1)
df_tmp.sort_values('customer_id').head()

---
> P-072: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からの経過年数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い。（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1年未満は切り捨てること。

In [4]:
df_tmp = pd.merge(df_receipt[['customer_id','sales_ymd']], \
                  df_customer[['customer_id','application_date']], \
                  how='inner', on='customer_id')
df_tmp = df_tmp.drop_duplicates()

df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'), format="%Y%m%d")
df_tmp['application_date'] = pd.to_datetime(df_tmp['application_date'], format="%Y%m%d")
df_tmp['pass_years'] = df_tmp[['sales_ymd','application_date']].apply(lambda x: 
                                                                       relativedelta(x[0], x[1]).years, axis=1)
df_tmp.sort_values('customer_id').head()

          customer_id  sales_ymd application_date  pass_years
60376  CS001113000004 2019-03-08       2015-11-05           3
20158  CS001114000005 2019-07-31       2016-04-12           3
20156  CS001114000005 2018-05-03       2016-04-12           2
29140  CS001115000010 2019-04-05       2015-04-17           3
29141  CS001115000010 2018-07-01       2015-04-17           3

---
> P-073: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、顧客データフレーム（df_customer）の会員申込日（application_date）からのエポック秒による経過時間を計算し、顧客ID（customer_id）、売上日、会員申込日とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。なお、時間情報は保有していないため各日付は0時0分0秒を表すものとする。

In [15]:
df_tmp = pd.merge(df_receipt[['customer_id','sales_ymd']], \
                  df_customer[['customer_id','application_date']], \
                  how='inner', on='customer_id')
df_tmp = df_tmp.drop_duplicates()

df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'), format="%Y%m%d")
df_tmp['application_date'] = pd.to_datetime(df_tmp['application_date'], format="%Y%m%d")

# df_tmp.info()

df_tmp['pass_years'] = df_tmp[['sales_ymd','application_date']].apply(lambda x: 
                                                                       x[0].timestamp() - x[1].timestamp(), axis=1)

df_tmp['elapsed_date'] = (df_tmp['sales_ymd'].astype(np.int64) / 10**9) - (df_tmp['application_date'].astype(np.int64) / 10**9)

# df_tmp.sort_values('customer_id').head()
df_tmp.head()

      customer_id  sales_ymd application_date   pass_years  elapsed_date
0  CS006214000001 2018-11-03       2015-02-01  118454400.0   118454400.0
1  CS006214000001 2017-05-09       2015-02-01   71539200.0    71539200.0
2  CS006214000001 2017-06-08       2015-02-01   74131200.0    74131200.0
4  CS006214000001 2018-10-28       2015-02-01  117936000.0   117936000.0
7  CS006214000001 2019-09-08       2015-02-01  145152000.0   145152000.0

---
> P-074: レシート明細データフレーム（df_receipt）の売上日（sales_ymd）に対し、当該週の月曜日からの経過日数を計算し、売上日、当該週の月曜日付とともに表示せよ。結果は10件表示させれば良い（なお、sales_ymdは数値でデータを保持している点に注意）。

In [30]:
df_tmp = df_receipt[['customer_id', 'sales_ymd']].copy()
df_tmp = df_tmp.drop_duplicates()

df_tmp['sales_ymd'] = pd.to_datetime(df_tmp['sales_ymd'].astype('str'), format="%Y%m%d")
df_tmp['monday'] = df_tmp['sales_ymd'].apply(lambda x: x - relativedelta(days=x.weekday()))
df_tmp['e_weekday'] = df_tmp['sales_ymd'] - df_tmp['monday']
df_tmp.head()

      customer_id  sales_ymd     monday e_weekday
0  CS006214000001 2018-11-03 2018-10-29    5 days
1  CS008415000097 2018-11-18 2018-11-12    6 days
2  CS028414000014 2017-07-12 2017-07-10    2 days
3  ZZ000000000000 2019-02-05 2019-02-04    1 days
4  CS025415000050 2018-08-21 2018-08-20    1 days

---
> P-075: 顧客データフレーム（df_customer）からランダムに1%のデータを抽出し、先頭から10件データを抽出せよ。

In [31]:
df_customer.sample(frac=0.01).head()

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
12915,CS024302000012,岩淵 奈月,1,女性,1941-06-29,77,158-0097,東京都世田谷区用賀**********,S14024,20150827,0-00000000-0
8693,CS029313000003,宮原 怜奈,1,女性,1982-11-26,36,279-0041,千葉県浦安市堀江**********,S12029,20150311,0-00000000-0
12688,CS002214000004,松田 麻由子,1,女性,1996-06-01,22,184-0015,東京都小金井市貫井北町**********,S13002,20150624,8-20101007-B
8436,CS002513000140,西川 陽子,1,女性,1965-12-13,53,185-0022,東京都国分寺市東元町**********,S13002,20150406,3-20100315-7
7404,CS020512000092,水谷 朝陽,1,女性,1959-10-31,59,173-0016,東京都板橋区中板橋**********,S13020,20150708,0-00000000-0

---
> P-076: 顧客データフレーム（df_customer）から性別（gender_cd）の割合に基づきランダムに10%のデータを層化抽出データし、性別ごとに件数を集計せよ。

In [33]:
df_customer.sample(frac=0.1).groupby('gender_cd').agg({'customer_id':'count'})

           customer_id
gender_cd
0                  311
1                 1775
9                  111

In [34]:
# sklearn.model_selection.train_test_splitを使用した例
_, df_tmp = train_test_split(df_customer, test_size=0.1, stratify=df_customer['gender_cd'])
df_tmp.groupby('gender_cd').agg({'customer_id' : 'count'})

           customer_id
gender_cd
0                  298
1                 1793
9                  107

---
> P-077: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を平均から3σ以上離れたものとする。結果は10件表示させれば良い。

In [40]:
df_sales_amount = df_receipt[['customer_id','amount']].query('not customer_id.str.startswith("Z")', engine='python'). \
                    groupby('customer_id').amount.sum().reset_index()

df_sales_amount['amount_ss'] = preprocessing.scale(df_sales_amount['amount'])
df_sales_amount.query('amount_ss >= 3').head()

         customer_id  amount  amount_ss
332   CS001605000009   18925   6.019921
1755  CS006415000147   12723   3.740202
1817  CS006515000023   18372   5.816651
1833  CS006515000125   12575   3.685800
1841  CS006515000209   11373   3.243972

---
> P-078: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を第一四分位と第三四分位の差であるIQRを用いて、「第一四分位数-1.5×IQR」よりも下回るもの、または「第三四分位数+1.5×IQR」を超えるものとする。結果は10件表示させれば良い。

In [43]:
df_sales_amount = df_receipt[['customer_id','amount']].query('not customer_id.str.startswith("Z")', engine='python'). \
                    groupby('customer_id').amount.sum().reset_index()

pct75 = np.percentile(df_sales_amount['amount'], q=75)
pct25 = np.percentile(df_sales_amount['amount'], q=25)
qt = (pct75 - pct25) * 1.5
amount_sup = pct75 + qt
amount_inf = pct25 -qt

df_sales_amount.query('amount > @amount_sup or amount < @amount_inf').head()  # queryで変数を参照するには頭に@マーク！

         customer_id  amount
98    CS001414000048    8584
332   CS001605000009   18925
549   CS002415000594    9568
1180  CS004414000181    9584
1558  CS005415000137    8734

---
> P-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

In [46]:
df_product.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            7
unit_cost             7
dtype: int64

---
> P-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [48]:
df_product1 = df_product.dropna()
print('org : ', len(df_product))
print('drop: ', len(df_product1))

org :  10030
drop:  10023

---
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とし、0.5については偶数寄せでかまわない。補完実施後、各項目について欠損が生じていないことも確認すること。

In [50]:
df_product2 = df_product.fillna(
    {'unit_price':np.round(np.nanmean(df_product['unit_price'])),
     'unit_cost':np.round(np.nanmean(df_product['unit_cost']))
    }
)
df_product2.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
dtype: int64

---
> P-082: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの中央値で補完した新たなdf_product_3を作成せよ。なお、中央値について1円未満は四捨五入とし、0.5については偶数寄せでかまわない。補完実施後、各項目について欠損が生じていないことも確認すること。

In [54]:
df_product3 = df_product.fillna(
    {'unit_price':np.round(np.nanmedian(df_product['unit_price'])),
     'unit_cost':np.round(np.nanmedian(df_product['unit_cost']))
    }
)
df_product3.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
dtype: int64

---
> P-083: 単価（unit_price）と原価（unit_cost）の欠損値について、各商品の小区分（category_small_cd）ごとに算出した中央値で補完した新たなdf_product_4を作成せよ。なお、中央値について1円未満は四捨五入とし、0.5については偶数寄せでかまわない。補完実施後、各項目について欠損が生じていないことも確認すること。

In [60]:
df_tmp = df_product.groupby('category_small_cd').agg({'unit_price':'median','unit_cost':'median'}).reset_index()
df_tmp.columns = ['category_small_cd','price_median','cost_median']

df_product4 = pd.merge(df_product, df_tmp, on='category_small_cd', how='inner')

df_product4['unit_price'] = df_product4[['unit_price','price_median']]. \
                                apply(lambda x: np.round(x[1]) if np.isnan(x[0]) else x[0], axis=1)
df_product4['unit_cost'] = df_product4[['unit_cost','cost_median']]. \
                                apply(lambda x: np.round(x[1]) if np.isnan(x[0]) else x[0], axis=1)

df_product4.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
price_median          0
cost_median           0
dtype: int64

---
> P-084: 顧客データフレーム（df_customer）の全顧客に対し、全期間の売上金額に占める2019年売上金額の割合を計算せよ。ただし、販売実績のない場合は0として扱うこと。そして計算した割合が0超のものを抽出せよ。 結果は10件表示させれば良い。また、作成したデータにNAやNANが存在しないことを確認せよ。

In [66]:
#2019
df_tmp_2019 = df_receipt.query('20190101 <= sales_ymd <= 20191231')
df_tmp1 = pd.merge(df_customer['customer_id'], df_tmp_2019, on='customer_id', how='left').groupby('customer_id').amount.sum().reset_index()
df_tmp1.columns = ['customer_id','amount2019']

df_tmp2 = pd.merge(df_customer['customer_id'], df_receipt, on='customer_id', how='left').groupby('customer_id').amount.sum().reset_index()

df_tmp = pd.merge(df_tmp1, df_tmp2, on='customer_id', how='inner')
df_tmp['amount2019'] = df_tmp['amount2019'].fillna(0)
df_tmp['amount'] = df_tmp['amount'].fillna(0)

df_tmp['rate'] = df_tmp['amount2019'] / df_tmp['amount']
df_tmp['rate'] = df_tmp['rate'].fillna(0)

df_tmp.query('rate >0').head()

       customer_id  amount2019  amount      rate
8   CS001113000004      1298.0  1298.0  1.000000
10  CS001114000005       188.0   626.0  0.300319
12  CS001115000010       578.0  3044.0  0.189882
17  CS001205000004       702.0  1988.0  0.353119
18  CS001205000006       486.0  3337.0  0.145640

---
> P-085: 顧客データフレーム（df_customer）の全顧客に対し、郵便番号（postal_cd）を用いて経度緯度変換用データフレーム（df_geocode）を紐付け、新たなdf_customer_1を作成せよ。ただし、複数紐づく場合は経度（longitude）、緯度（latitude）それぞれ平均を算出すること。

In [8]:
df_tmp = pd.merge(df_customer[['customer_id','postal_cd']], df_geocode[['postal_cd','longitude','latitude']], on='postal_cd', how='inner').reset_index()
df_tmp = df_tmp.groupby('customer_id').agg({'longitude':'mean', 'latitude':'mean'}).reset_index()

df_customer_1 = pd.merge(df_customer, df_tmp, on='customer_id', how='inner')
df_customer_1.head()

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd,longitude,latitude
0,CS021313000114,大野 あや子,1,女性,1981-04-29,37,259-1113,神奈川県伊勢原市粟窪**********,S14021,20150905,0-00000000-0,139.31779,35.41358
1,CS037613000071,六角 雅彦,9,不明,1952-04-01,66,136-0076,東京都江東区南砂**********,S13037,20150414,0-00000000-0,139.83502,35.67193
2,CS031415000172,宇多田 貴美子,1,女性,1976-10-04,42,151-0053,東京都渋谷区代々木**********,S13031,20150529,D-20100325-C,139.68965,35.67374
3,CS028811000001,堀井 かおり,1,女性,1933-03-27,86,245-0016,神奈川県横浜市泉区和泉町**********,S14028,20160115,0-00000000-0,139.48360,35.39125
4,CS001215000145,田崎 美紀,1,女性,1995-03-29,24,144-0055,東京都大田区仲六郷**********,S13001,20170605,6-20090929-2,139.70775,35.54084

---
> P-086: 前設問で作成した緯度経度つき顧客データフレーム（df_customer_1）に対し、申込み店舗コード（application_store_cd）をキーに店舗データフレーム（df_store）と結合せよ。そして申込み店舗の緯度（latitude）・経度情報（longitude)と顧客の緯度・経度を用いて距離（km）を求め、顧客ID（customer_id）、顧客住所（address）、店舗住所（address）とともに表示せよ。計算式は簡易式で良いものとするが、その他精度の高い方式を利用したライブラリを利用してもかまわない。結果は10件表示すれば良い。

$$
緯度（ラジアン）：\phi \\
経度（ラジアン）：\lambda \\
距離L = 6371 * arccos(sin \phi_1 * sin \phi_2
+ cos \phi_1 * cos \phi_2 * cos(\lambda_1 − \lambda_2))
$$

---
> P-087:  顧客データフレーム（df_customer）では、異なる店舗での申込みなどにより同一顧客が複数登録されている。名前（customer_name）と郵便番号（postal_cd）が同じ顧客は同一顧客とみなし、1顧客1レコードとなるように名寄せした名寄顧客データフレーム（df_customer_u）を作成せよ。ただし、同一顧客に対しては売上金額合計が最も高いものを残すものとし、売上金額合計が同一もしくは売上実績の無い顧客については顧客ID（customer_id）の番号が小さいものを残すこととする。

---
> P-088: 前設問で作成したデータを元に、顧客データフレームに統合名寄IDを付与したデータフレーム（df_customer_n）を作成せよ。ただし、統合名寄IDは以下の仕様で付与するものとする。
>
> - 重複していない顧客：顧客ID（customer_id）を設定
> - 重複している顧客：前設問で抽出したレコードの顧客IDを設定

---
> P-閑話: df_customer_1, df_customer_nは使わないので削除する。

---
> P-089: 売上実績のある顧客に対し、予測モデル構築のため学習用データとテスト用データに分割したい。それぞれ8:2の割合でランダムにデータを分割せよ。

---
> P-090: レシート明細データフレーム（df_receipt）は2017年1月1日〜2019年10月31日までのデータを有している。売上金額（amount）を月次で集計し、学習用に12ヶ月、テスト用に6ヶ月のモデル構築用データを3セット作成せよ。

---
> P-091: 顧客データフレーム（df_customer）の各顧客に対し、売上実績のある顧客数と売上実績のない顧客数が1:1となるようにアンダーサンプリングで抽出せよ。

---
> P-092: 顧客データフレーム（df_customer）では、性別に関する情報が非正規化の状態で保持されている。これを第三正規化せよ。

---
> P-093: 商品データフレーム（df_product）では各カテゴリのコード値だけを保有し、カテゴリ名は保有していない。カテゴリデータフレーム（df_category）と組み合わせて非正規化し、カテゴリ名を保有した新たな商品データフレームを作成せよ。

---
> P-094: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

---
> P-095: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはCP932

---
> P-096: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ無し
> - 文字コードはUTF-8

---
> P-097: 先に作成した以下形式のファイルを読み込み、データフレームを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

---
> P-098: 先に作成した以下形式のファイルを読み込み、データフレームを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
>
> - ファイル形式はCSV（カンマ区切り）
> - ヘッダ無し
> - 文字コードはUTF-8

---
> P-099: 先に作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。なお、出力先のパスはdata配下とする。
>
> - ファイル形式はTSV（タブ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

---
> P-100: 先に作成した以下形式のファイルを読み込み、データフレームを作成せよ。また、先頭10件を表示させ、正しくとりまれていることを確認せよ。
>
> - ファイル形式はTSV（タブ区切り）
> - ヘッダ有り
> - 文字コードはUTF-8

# これで１００本終わりです。おつかれさまでした！